<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>O livro <%= @book.title %> já está disponível!</h1>
    <%= link_to 'Pesquise aqui!', 'http://localhost:3000' %>
  </body>
</html>
