<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>O livro <%= @book_title %> foi solicitado.</h1>
    <h2>Informações adicionais:</h2>
    <%= @addicional_information%>
  </body>
</html>
