<br/><br/><br/><br/>

<div class="books">
	<h3>Meus livros</h3>
	<% @my_books.each do |book| %>
	  <%= book.title %><br/>
	<% end %>
	
	<form>
		<input id="botao-editar" type="submit"  value="Editar" name="edit_my_books"/>
	</form>
</div>
<div class="books">
	<h3>Livros que desejo</h3>
	<% @desired_books.each do |book| %>
	  <%= book.title %><br/>
	<% end %>
	
	<form>
		<input id="botao-editar" type="submit"  value="Editar" name="edit_books"/>
	</form>
</div>

<div id="trocas">
	<br/><br/><br/>	
	<form>
		<input id="botao-trocas" type="submit"  value="Maximizar trocas" name="maximizar"/>
	</form>
</div>
