/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
/*
body {
  text-align: center;
  background: #E0EEE0;
}
#mainnav {
	background: -webkit-linear-gradient(top, #E82C2C 0%, #DE2627 25%, #CE1F21 50%, #C31A1D 75%, #B41317 100%);
	text-align: right;
	height: 70px;
	border-radius: 15px;
	padding-right: 50px;
}
#search {
  font-size: 18px;
}
#mainnav form {
  display: inline;
}
#mainnav ul {
  margin-left: -30px;
	display: inline;
}
#mainnav ul li {
	display: inline;
	padding: 0 10px;
}
#mainnav ul li.not_last {
	border-right: 1px solid rgba(0, 0, 0, 0.9);
}

#mainnav ul li a {
	text-decoration: none;
	color: #FFFFFF;
}
#mainnav ul li a:hover {
	color: #FFFFFF;
	background-color: #FE4F51;
}
#books_list {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}
.books {
	width: 340px;
	border-width: 4px;
	border-style: ridge;
	border-color: #C31A1D;
	text-align: center;
	text-decoration: none;
	color: #C31A1D;
	background: #FFFFFF;
}
.books.my_books {
  float: left;
}
.books.desired_books {
  float: right;
}
.botao-editar{
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background: #C31A1D;
	width: 100px;
	height: 25px;
	margin: 10px;
}
#search_button{
	background: url('/assets/botao_busca.png');
	width: 27px;
	height: 27px;
}
#botao-trocas{
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background: #C31A1D;
	width: 300px;
	height: 25px;
	margin-top: 20px;
}
.remove_button {
  width: 20px;
  margin-left: 10px;
}
.remove_link {
  
}
.clear {
  clear: both;
}
*/