/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
  background: #C4C769;
}
#busca {
	background: #008B8B;
	color: #272900;
	padding: 2px 0;
	float: left;
	text-align: right;
	width: 605px;
	height: 70px;
}
#mainnav {
	background: #008B8B;
	color: #272900;
	text-align: right;
	height: 70px;
}
#mainnav ul {
	border-left: 1px solid #C4C769;
	display: inline;
}
#mainnav li {
	display: inline;
	padding: 0 10px;
	border-right: 1px solid #C4C769;
}
#mainnav li a {
	text-decoration: none;
	color: #272900;
}
#mainnav li a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #5F9EA0;
}
.books {
	float: left;
	width: 340px;
	border-width: 4px;
	border-style: ridge;
	border-color: #5F9EA0;
	margin: 0 0 0 100px;
	display: inline;
	text-align: center;
	text-decoration: none;
	color: #008B8B;
	background=FFFFFF;
}
#botao-editar{
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	background:#5F9EA0;
	width: 50px;
	height: 30px;
}
#botao-buscar{
	background: url('/assets/botao_busca.png');
	width: 27px;
	height: 27px;
}
#trocas{
	text-align: center;
	width: 985px;
}
#botao-trocas{
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	background:#5F9EA0;
	width: 300px;
	height: 30px;
}
